body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.error {
  color: red;
  font-size: 14px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  animation: fadeIn 0.5s ease-in;
}

.form {
     position: relative;
     width: 300px;
     padding: 20px;
     border-radius: 10px;
     overflow: hidden;
  input {
    padding: 10px;
  }
.form-overlay {
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  padding: 20px;
  border-radius: 10px;
  color: white;
}
  button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}